button {
	background-color: #eee;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: rgb(22, 168, 194), 0, 0);
	font-size: 1.5rem;
	padding: 1rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-top: 0rem;
}